/*  reset */
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

/***********************************************************************************************************************************TAMAÑO ESCRITORIO*******************************/

/*  ------------------------------------------------CABECERA--------------------------*/

/* grilla padre*/

#contenedorPrincipal {
  display: grid;
  grid-template-areas:
    "logo header header"
    "nav nav nav"
    "carrusel carrusel carrusel"
    "buscador buscador buscador"
    "cardProductos cardServicios cardPromociones"
    "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px 0.05fr 0.5fr 0.05fr 1fr 0.05fr; /*grid-template-rows:  120px 0.1fr 0.7fr 0.1fr 1fr 0.1fr;*/
  justify-items: stretch;
}
/* produtosServiciosPromocion         "producto servicio promocion"*/
#contenedorPrincipalQuienesomos {
  display: grid;
  grid-template-areas:
    "logo header header"
    "nav nav nav"
    "terminoCondicones terminoCondicones terminoCondicones"
    "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr; /*34% 33% 33%;*/
  grid-template-rows: 120px 0.1fr 2fr 0.1fr;
  justify-items: stretch;
}

/* css del logo*/
.logo {
  grid-area: logo;
  justify-self: stretch; /* start | end | center | stretch */
  align-self: stretch; /* start | end | center | stretch */
  height: 120px;
  background-color: black;
  border: 1px;
  border-color: white;
}
.logoCabecera__img {
  width: 120px;
  height: 120px;
}

.header {
  grid-area: header;
  background-color: black;
  justify-self: strech; /* start | end | center | stretch */
  align-self: strech; /* start | end | center | stretch */
}

.cabecera {
  background-color: black;
}
/*  ------------------------------------------------NAV--------------------------*/
.nav {
  grid-area: nav;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(129, 129, 227, 0.938) !important;
}

.menuCabecera__link {
  text-decoration: none;
  color: white;
}
.nav2 {
  background-color: rgba(129, 129, 227, 0.938) !important;
}
/*  ------------------------------------------------CARRUSEL--------------------------*/
.carrusel {
  grid-area: carrusel;
  width: 90%;
}

@keyframes mueveCarrusel {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-33%);
  }
  100% {
    transform: translateX(-66%);
  }
}

.carrusel .carruselTotal {
  display: flex;
  width: 300%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2em;

  animation-name: mueveCarrusel;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  /*transition: all 0.5s ease;
  transform: translate(0%);*/
}

.carrusel img {
  width: 800px;
  height: 400px;
  border-radius: 40px;
}

/*  ------------------------------------------------BUSCADOR--------------------------*/
.buscador {
  grid-area: buscador;
  display: flex;
  /*flex-flow: row-reverse nowrap;*/
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(169, 156, 140, 0.938);
}

#ingresoTexto {
  width: 300px;
}

/*  ------------------------------------------------PRODUCTOS--------------------------*/

.cardProductos {
  grid-area: cardProductos;
  display: flex;
  border-radius: 50px;
  width: 60%;
  /*background-color: rgba(224, 211, 240, 0.94);*/
  background: linear-gradient(
    rgba(153, 86, 236, 0.94),
    rgba(224, 211, 240, 0.94)
  );
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  height: 500px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*  ------------------------------------------------SERVICIOS--------------------------*/

.cardServicios {
  grid-area: cardServicios;
  display: flex;
  border-radius: 50px;
  width: 60%;
  /*background-color: rgba(224, 211, 240, 0.94);*/
  background: linear-gradient(
    rgba(236, 143, 86, 0.94),
    rgba(224, 211, 240, 0.94)
  );
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  height: 500px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*  ------------------------------------------------PROMOCIONES--------------------------*/

.cardPromociones {
  grid-area: cardPromociones;
  display: flex;
  border-radius: 50px;
  width: 60%;
  /*background-color: rgba(224, 211, 240, 0.94);*/
  background: linear-gradient(
    rgba(153, 86, 236, 0.94),
    rgba(224, 211, 240, 0.94)
  );
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  height: 500px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cardProductos img,
.cardServicios img,
.cardPromociones img {
  width: 100%;
}

.cardProductos h3,
.cardServicios h3,
.cardPromociones h3 {
  font-size: xx-large;
}

.cardProductos button,
.cardServicios button,
.cardPromociones button {
  font-size: medium;
}

.cardProductos ul,
.cardServicios ul,
.cardPromociones ul {
  list-style-type: none;
  align-items: center;
}
/*  ------------------------------------------------PIE--------------------------*/

.pie {
  grid-area: footer;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(129, 129, 227, 0.938);
}

.menuPie__link {
  text-decoration: none;
  color: white;
}

.terminoCondicones {
  grid-area: terminoCondicones;
  /*margin-bottom: 115px;*/
  background-color: rgb(213, 185, 240);
}

.terminoCondicones h1 {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}

.terminoCondicones h4 {
  text-align: left;
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

/***********************************************************************************************************************************TAMAÑO TABLET*******************************/

/*  ------------------------------------------------CABECERA--------------------------*/

/* grilla padre*/
@media screen and (max-width: 768px) {
  #contenedorPrincipal {
    display: grid;
    grid-template-areas:
      "logo header header"
      "nav nav nav"
      "carrusel carrusel carrusel"
      "buscador buscador buscador"
      "cardProductos cardServicios cardPromociones"
      "footer footer footer";
    grid-template-columns: 34% 33% 33%;
    grid-template-rows: 120px 0.1fr 0.7fr 0.1fr 1fr 0.1fr;
    justify-items: stretch;
  }

  /* css del logo*/
  .logo {
    grid-area: logo;
    justify-self: stretch; /* start | end | center | stretch */
    align-self: stretch; /* start | end | center | stretch */

    background-color: black;
    border: 1px;
    border-color: white;
  }
  .logoCabecera__img {
    width: 120px;
    height: 120px;
  }

  .header {
    grid-area: header;
    background-color: black;
    justify-self: strech; /* start | end | center | stretch */
    align-self: strech; /* start | end | center | stretch */
  }
  /*  ------------------------------------------------NAV--------------------------*/

  .menuCabecera__link {
    text-decoration: none;
    color: white;
  }

  /*  ------------------------------------------------CARRUSEL--------------------------*/
  .carrusel {
    grid-area: carrusel;
    width: 90%;
  }

  .carrusel .carruselTotal {
    display: flex;
    width: 300%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

    animation-name: mueveCarrusel;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    /*transition: all 0.5s ease;
  transform: translate(0%);*/
  }

  .carrusel img {
    width: 800px;
    height: 400px;
    border-radius: 40px;
    margin: 50px;
  }

  /*  ------------------------------------------------BUSCADOR--------------------------*/
  .buscador {
    grid-area: buscador;
    display: flex;
    /*flex-flow: row-reverse nowrap;*/
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(169, 156, 140, 0.938);
  }

  #ingresoTexto {
    width: 300px;
  }

  /*  ------------------------------------------------PRODUCTOS--------------------------*/

  .cardProductos {
    grid-area: cardProductos;
    display: flex;
    border-radius: 50px;
    width: 75%;
    background-color: rgba(224, 211, 240, 0.94);
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 500px;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /*  ------------------------------------------------SERVICIOS--------------------------*/

  .cardServicios {
    grid-area: cardServicios;
    display: flex;
    border-radius: 50px;
    width: 75%;
    background-color: rgba(224, 211, 240, 0.94);
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 500px;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /*  ------------------------------------------------PROMOCIONES--------------------------*/

  .cardPromociones {
    grid-area: cardPromociones;
    display: flex;
    border-radius: 50px;
    width: 75%;
    background-color: rgba(224, 211, 240, 0.94);
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 500px;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .cardProductos img,
  .cardServicios img,
  .cardPromociones img {
    width: 100%;
  }

  .cardProductos h3,
  .cardServicios h3,
  .cardPromociones h3 {
    font-size: xx-large;
  }

  .cardProductos button,
  .cardServicios button,
  .cardPromociones button {
    font-size: medium;
  }

  .cardProductos ul,
  .cardServicios ul,
  .cardPromociones ul {
    list-style-type: none;
  }

  /*  ------------------------------------------------PIE--------------------------*/

  .pie {
    grid-area: footer;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(129, 129, 227, 0.938);
  }

  .menuPie__link {
    text-decoration: none;
    color: white;
  }
}

/***********************************************************************************************************************************TAMAÑO CELUAR*******************************/

/*  ------------------------------------------------CABECERA--------------------------*/

/* grilla padre*/
@media screen and (max-width: 480px) {
  #contenedorPrincipal {
    display: grid;
    grid-template-areas:
      "logo"
      "nav"
      "carrusel"
      "buscador"
      "cardProductos"
      "cardServicios"
      "cardPromociones"
      "footer";
    grid-template-columns: 100%;
    grid-template-rows: 120px 0.1fr 0.5fr 0.1fr 1fr 0.1fr;
    justify-items: stretch;
  }

  /* css del logo*/
  .logo {
    grid-area: logo;
    justify-self: stretch; /* start | end | center | stretch */
    align-self: stretch; /* start | end | center | stretch */

    background-color: black;
    border: 1px;
    border-color: white;
  }
  .logoCabecera__img {
    width: 120px;
    height: 120px;
  }

  /*  ------------------------------------------------NAV--------------------------*/
  .nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-flow: column-reverse nowrap;
    /* justify-content: space-evenly;*/
    align-items: left;
    background-color: rgba(129, 129, 227, 0.938);
  }

  .menuCabecera__link {
    text-decoration: none;
    color: white;
  }

  /*  ------------------------------------------------CARRUSEL--------------------------*/
  .carrusel {
    grid-area: carrusel;
    display: flex;
    width: 90%;
  }
  /*
  .carrusel img {
    width: 100%;
  }

  .imagen1,
  .imagen2,
  .imagen3 
  */
  .carrusel img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    margin-left: 17px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  /*
  .imagen3 {
    margin-left: 18px;
  }*/

  /*  ------------------------------------------------BUSCADOR--------------------------*/
  .buscador {
    grid-area: buscador;
    display: flex;
    /*flex-flow: row-reverse nowrap;*/
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(169, 156, 140, 0.938);
  }

  #ingresoTexto {
    width: 300px;
  }

  /*  ------------------------------------------------PRODUCTOS--------------------------*/

  .cardProductos {
    grid-area: cardProductos;
    display: flex;
    border-radius: 50px;
    width: 60%;
    background-color: rgba(224, 211, 240, 0.94);
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 500px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /*  ------------------------------------------------SERVICIOS--------------------------*/

  .cardServicios {
    grid-area: cardServicios;
    display: flex;
    border-radius: 50px;
    width: 60%;
    background-color: rgba(224, 211, 240, 0.94);
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 500px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /*  ------------------------------------------------PROMOCIONES--------------------------*/

  .cardPromociones {
    grid-area: cardPromociones;
    display: flex;
    border-radius: 50px;
    width: 60%;
    background-color: rgba(224, 211, 240, 0.94);
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 500px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .cardProductos img,
  .cardServicios img,
  .cardPromociones img {
    width: 100%;
  }

  .cardProductos h3,
  .cardServicios h3,
  .cardPromociones h3 {
    font-size: xx-large;
  }

  .cardProductos button,
  .cardServicios button,
  .cardPromociones button {
    font-size: medium;
  }

  .cardProductos ul,
  .cardServicios ul,
  .cardPromociones ul {
    list-style-type: none;
  }
  /*  ------------------------------------------------PIE--------------------------*/

  .pie {
    grid-area: footer;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(129, 129, 227, 0.938);
  }

  .menuPie__link {
    text-decoration: none;
    color: white;
  }
}
